.pro {
    padding-top:1.5rem;
    width:100%;
    background:#fff;
    padding-bottom:0.5rem;
}
.pro img{
    max-width:300px;
}
.textCenter{
    text-align: center;
    width:100%;
}
.pro>div:last-child{
    margin:0.5rem 1rem;
}
.pro h1{
    font-size:0.9rem;
}
.pro div{
    font-size:0.6rem;
    color:#333;
    margin-top:0.5rem;
}
.pro span,b,s{
    color:#999;
}
.pro b{
    color:#ec5151;
    margin-left:0.5rem;
    margin-right:0.5rem;
    font-size:0.8rem;
}
.choose{
    margin:1rem auto;
    width:92%;
    background:#fff;
    border-radius: 5px;
    padding:1rem;
}
.choose div{
    font-size:1.2rem;
    color:#333;
    margin-bottom:0.5rem;
}
.choose div:first-child>span{
    color:#ec5151;
    margin-left:0.5rem;
}
.choose div:nth-child(3){
    margin-left:1rem;
}
.choose span{
    font-size:1.2rem;
    font-weight:bold;
}
.choose div:nth-child(3)>button{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    width:1.8rem;
    height:1.8rem;
}
.btns{
    width:100%;
    height:5rem;
    display:flex;
    justify-content: space-around;
}
.btns li{
    width:45%;
    height:2.5rem;
    border-radius:8px;
    color:#fff;
}
.btns li:first-child>button{
    width:100%;
    height:100%;
    color:#fff;
    border-radius:5px;
    background: #b9d11a;
}
.btns li:last-child>button{
    width:100%;
    height:100%;
    color:#fff;
    border-radius:5px;
    background: #ff6700;
}